# SERVER URLS
#PUBLIC_API_BASE_URL=http://127.0.0.1:9000
#TENANT_API_BASE_URL=http://127.0.0.1:8080

PUBLIC_API_BASE_URL=https://kogschool.com/business
TENANT_API_BASE_URL=https://kogschool.com/enterprise/api

# Optional internal security key for business → tenant communication
TENANT_INTERNAL_API_KEY=change-this-secret-key

# SMTP EMAIL CONFIG
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=phevab1@gmail.com
SMTP_PASSWORD=pxoniqqxstkmnjmi
SMTP_FROM_EMAIL=phevab1@gmail.com
SMTP_FROM_NAME=Phena School Management System
EMAIL_USE_SSL=True